* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    margin: 0;
}

/* Scroll bar */

/* width */
::-webkit-scrollbar {
    width: 1.3vh;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #007bff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0069d9;
}

/* Bouton top */
.top {
    position: fixed;
    right: 5em;
    bottom: 5em;
    cursor: pointer;
    transform: scale(2);
    z-index: 999;
}

.hide {
    display: none;
}

/* Header */

header {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(rgba(29, 38, 113, 0.8), rgba(29, 38, 113, 0.8)), url("../img/header.jpg");
    background-position: middle;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

nav {
    position: absolute;
    margin: 50px 150px;
    display: flex;
    justify-content: space-between;
    right: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* BUTTONS */
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 7em;
    text-align: center;
    border-radius: 0.25em;
    cursor: pointer;
    transition: .15s ease-in-out;
    margin: 5px;
}

.btn:hover {
    transition: .15s ease-in-out;
}

.btn-fill {
    background-color: #007bff;
    border: 1px solid #007bff;
}

.btn-fill:hover {
    background-color: #0069d9;
    border: 1px solid #0069d9;
}

.btn-dl {
    background-color: #007bff;
    color: white;
    border-radius: 0.25em;
    border: 1px solid #007bff;
    top: 1em;
}

.btn-dl:hover {
    background-color: #0069d9;
    border: 1px solid #0069d9;
}

.btn-outline {
    color: #007bff;
    border: 1px solid #007bff;
}

.btn-outline:hover {
    color: white;
    background-color: #007bff;
    border: 1px solid #007bff;
}

.btn-long {
    width: 10em;
}

i {
    margin-right: 7px;
}

/* Présentation */

.profil {
    color: white;
    margin: 20vh 150px 10vh 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
}

.presentation {
    font-size: xx-large;
}

.presentation span {
    color: #007bff;
    font-weight: bold;
}

h1 {
    margin-right: 15px;
    margin-bottom: 50px;
}

.liens-profil {
    display: flex;
    align-items: center;
    margin: 50px -5px 0 -5px;
}

.img-moi {
    background: url("../img/moi.jpg");
    background-size: 100%;
    background-position: center;
    height: 30em;
    width: 30em;
    border: 5px #007bff solid;
    border-radius: 50%;
}

/* Gestion Flex */

.row-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

/* Partie moi */

.moi {
    background-color: #1d2671;
    height: 100vh;
}

/* Partie etudes */

.etudes {
    background-color: #1d2671;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: xx-large;
}

/* Partie competences */

.competences {
    background-color: #1d2671;
    height: 100vh;
}

/* Partie Expérience professionel */

.exp-pro {
    background-color: #1d2671;
    height: 100vh;
}

hr {
    border: none;
    height: 3px;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #272424;
    color: white;
}

footer span {
    color: #c33763;
    font-weight: bold;
}

/* Animations */

.bounce {
    animation: bounce 2s ease infinite;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.pulse {
    animation: pulse 1s infinite ease-in-out alternate;
}

@keyframes pulse {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.2);
    }
}