/* CONTENUE */

body {
    margin: 0;
    font-family: 'Trebuchet MS';
    background-color: #474747;
}
.block1{
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url("../img/fond_bienvenue.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 4em;
}
.contenue{
    margin-left: 10%;
    margin-right: 10%;
    height: 2000px;
}
.sous-contenue {
    float: left;
    width: 1100px;
    height: 1500px;
    background-color: black;
    margin-top: 30px;
}
.widget-discord {
    margin-left: 70%;
    position: sticky;
    text-align: center;
    padding-top: 25px;
    top: 110px;
    text-align: right;
    float:inline-end;
}

/* HEADER */

header{
    width: auto;
    position:sticky;
    margin-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #1b1b1b ;
    top: 0;
    box-shadow: 0 0 25px 0 black;
}

nav {
    padding: 40px;
    text-align: right;
}

header a{
    text-decoration: none;
    color: black;
    border: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    background-color: #474747;
    color: white;
    margin: 15px;
}

/* FOOTER */

footer{
    width: auto;
    position: sticky;
    margin-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #1b1b1b ;
    margin: 0;
    margin-top: 15px;
    color: white;
}
footer div{
    padding-top: 20px;
    padding-bottom: 50px;
    line-height: 20pt;
}
footer div a{
    color: white;
    text-decoration: none;
    font-size: 12pt;
}
footer div img{
    width: 12pt;
    color: white;
    vertical-align: middle;
    padding-right: 20px;
}
