/* CONTENUE */

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
    background-color: #474747;
}

.block1 {
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url("../img/fond_bienvenue.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-size: 4em;
}

.contenue {
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
}

.sous-contenue {
    float: left;
    width: 1100px;
    height: auto;
    margin-top: 25px;
}

.about {
    height: auto;
    margin-top: 25px;
    color: white;
    padding: 50px;
    text-align: center;
}

.about h2 {
    text-decoration: underline solid;
}

.about div {
    padding-bottom: 50px;
}

.widget-discord {
    margin-left: 70%;
    position: sticky;
    text-align: center;
    padding-top: 25px;
    top: 99px;
    text-align: right;
    float: inline-end;
}

/* HEADER */

header {
    width: auto;
    position: sticky;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #1b1b1b;
    top: 0;
    box-shadow: 0 0 25px 0 black;
}

nav {
    padding: 40px;
    text-align: right;
}

header a {
    text-decoration: underline solid white;
    padding: 10px;
    color: white;
    margin: 15px;
    font-size: 16pt;
}

/* FOOTER */

footer {
    width: auto;
    margin-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #1b1b1b;
    margin: 0 auto;
    margin-top: 50px;
    color: white;
    display: flex;
}

.contact {
    padding-top: 20px;
    padding-bottom: 50px;
    line-height: 20pt;
    width: 400px;
    float: left;
}

.reseaux {
    padding-top: 20px;
    padding-bottom: 50px;
    line-height: 20pt;
    width: 400px;
    float: left;
}

.reseaux label {
    cursor: pointer;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 12pt;
}

footer img {
    width: 15pt;
    vertical-align: middle;
    padding-right: 15px;
}

footer div ul li {
    list-style: none;
    margin-left: -40px;
}